# Ignore Terraform files and directories
*.tfstate
*.tfstate.backup
*.terraform/
.terraform.lock.hcl

# Ignore Terraform variable definition files
terraform.tfvars
*.tfvars.json

# Ignore local Terraform configuration override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore temporary files created by editors and the OS
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore node_modules directory (common for JavaScript/Node.js projects)
node_modules/

# Ignore .terraformignore file itself if necessary
.terraformignore

# Ignore Git version control files and directories
.git
.gitignore
